<!-- 
Author: Jeremy Heiner
Class: IFT 458/598: Middleware Programming & Database Security
Professor: Dinesh Sthapit
Description: This is the 404 (error) HTML page that will render if an error happens.
-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-Up</title>
</head>
<body>
    <main>
        <form class="=form-control" action="/login" method="post">
            <div class="form-control mx-auto" style="width: 200px;">
                <label for="email">Email</label>
                <input type="text" name="email" required placeholder="email">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required placeholder="password">
            </div>  
            <button class="btn" type="submit">Login</button>
        </form> 
    </main>
    
</body>

</html>