<!-- 
Author: Jeremy Heiner
Class: IFT 458/598: Middleware Programming & Database Security
Professor: Dinesh Sthapit
Description: This is a test page that wasn't ever used.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list class="form-select" size="3" aria-label="size 3 select example">
                <li class="main-header__item"><a class="active" href="home">Home</a></li>
                <li class="main-header__item"><a class="active" href="signup">Sign Up</a></li>
                <li class="main-header__item"><a class="active" href="login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-control mx-auto" style="width: 200px;">
            <h6>This is a test page to validate application resoruces</h6>
            <h6>User: <% name %></h6>
            <h6>Email: <% email %></h6>
        </div>

    </main>

</body>

</html>