<!-- 
Author: Jeremy Heiner
Class: IFT 458/598: Middleware Programming & Database Security
Professor: Dinesh Sthapit
Description: This is my registration page. Users put in their info and the application does the rest!
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-Up</title>
</head>
<body>

    <main>
        <form class="product-form" action="/signup" method="POST">
            <div class="form-control mx-auto" style="width: 200px">
                <label for="name">User Name</label>
                <input type= "text" name="name" id="name">
                <label for="email">Email</label>
                <input type= "text" name="email" id="email">
                <label for="password">Password:</label>
                <input type= "text" name="password" id="password">
                <label for="confirmPassword">Confirm Password:</label>
                <input type= "text" name="confirmPassword" id="confirmPassword">

            </div>
            <button class="btn" type="submit">Sign-Up</button>

        </form>

    </main>

</body>

</html>